body {

    margin: 0%;
    padding: 0%;
    font-size: 100%;
}

/* ******** CONTAINER ******* */

.container-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    position: relative;
}

/* ******** HEADER ******* */

header {
    display: flex;
    justify-content: center;
}

.header-box {
    display: flex;
    flex-direction: column;
    width: 73.125rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    height: 3.125rem;
}

li.topbar {
    margin: 1rem;
}

.top-bar>ul {
    padding-left: 0rem;
}

.grey-line {
    width: 100%;
    height: 1px;
    background-color: #ecedee;
    position: absolute;
    top: 50px;
}

.grey-line-bis {
    width: 100%;
    height: 1px;
    background-color: #ecedee;
    position: absolute;
    top: 258px;
}

.grey-blur {
    width: 100%;
    height: 1px;
    background-color: #f3f3f3;
    position: absolute;
    top: 140px;
    box-shadow: 1px 2px 5px 0px #f3f3f3;
    z-index: 1;
}

/* LANGUAGES DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-lang-content {
        display: none;
        position: absolute;
        top: 51px;
        background-color: white;
        min-width: 110px;
        box-shadow: 0px 8px 16px 0px #f3f3f3;
        z-index: 1;
}

.menu-lang-content a {
    color: #a1b9bc;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }

.menu-lang>li>a {
    text-decoration: none;
    color: #a8b6c1;
}

.menu-lang-content a:hover {
      background-color: white;
      color: #6fceb8;
    }

.dropdown:hover .menu-lang-content {
      display: block;
    }

.dropdown {
      background-color: white;
    }

/*  MENU */

li {
    list-style: none;
}

.menu {
    height: 5.5625rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}


.menu-item>a {
    font-family: 'Lato', sans-serif;
    margin: 0rem 2rem 0rem 2rem;
    color: #a1b1bc;
    text-decoration: none;
}

ul.d-flex:nth-child(2) {
    margin-bottom: 10px;
}

.menu-item>a:hover {
    font-family: 'Lato', sans-serif;
    color: #6fceb8;
    text-decoration: none;
    border-top: 4px solid #a1b9bc;
    padding-top: 2.1rem;
}
.menu-lang {
    color: #a1b1bc;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14;
    padding-left: 0.875rem;
}

li.menu-item:nth-child(1) {
    margin: 0rem;
}

li.menu-item:nth-child(2) {
    margin-left: 0rem;
}

li.menu-item:nth-child(10) {
    margin-right: 0rem;
}

/* icones */


.fab, .fas{
    color: #a1b1bc;
}

.social-icons {
    margin: 0 1rem 0 1rem;
}

li.social-icons:nth-child(9) {
    margin-right: 0rem;
}


/* SHOPPING BASKET  */

.fa-shopping-basket {
    color: #1abc9c;
}

.basket-btn {
    border-radius: 10px;
    padding: 5px;
    margin-top: -15px;
    background-color: white;
    border-color: #ecf0f1;
    border-style: solid;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #a1b1bc;
}

/* BREADCRUMB */
 .breadcrumb {
     height: 118px;
     width: 73.125rem;
     display: flex;
     position: relative;
     background-color: white;
     justify-content: space-between;
     justify-self: center;
     align-items: center;
     font-family: 'Lato';
 }

 h1 {
     font-size: 30px;
     font-weight: regular;
     color: #2c3e50;
 }

 .breadbox-crumb>ul>li {
     padding-left: 10px;
     color: #a8b6c1;
 }

/* ****** UTILITAIRES ******* */

.d-flex {
    display: flex;
}


/* ******** MAIN ********* */

main {
    background-color: #f9fafb;
}

/* BLOG POST */

.main--div-briques>h2 {
    font-size: 1.5rem;
    color: #2c3e50;
}

.v-divider {
    color: #f0f0f0;
    margin-left: 10px;
    margin-right: 10px;
}

.blog-icon {
    margin-right: 3px;
}

.blog-footer {
    display: flex;
    width: 100%;
    align-content: space-around;
    padding-left: 0rem;
    font-size: 14px;
    border-top: 1px solid #ecf0f1;
    padding-top: 1rem;
}

li.blog-footer {
    display:inline-block;
    margin:5px 0 5px 0;
    width:16.66%
}

.blog-line {
    width: 100%;
    height: 1px;
    background-color: #ecf0f1;
    position: absolute;
    right: 0px;
    bottom: 1rem;
}

.blog-content {
    border-top: 1px solid #ecf0f1;
    padding-top: 1rem;
}

.blog-btn {
    border-radius: 10px;
    padding: 15px;
    margin: 1rem 0rem 1rem 0rem;
    background-color: #2c3e50;
    border-color: #ecf0f1;
    border-style: solid;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: white;
}

.standard {
    font-size: 1.125rem;
    font-weight: bold;
}

/* HOVER BRIQUES */

.text-post:hover {
    background-color: #2c3e50;

}

.text-post:hover h2 {
    color: white;
}

.green-hov:hover {
    color: #24867a;
}

.blog-btn:hover {
    background-color: #1abc9c;
    color: white;
}

/* VID RESPONSIVE */

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Slideshow */

.slideshow-img {
    z-index: -1;
}

.slideshow-button-left {
    background-color: white;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border-style: none;
    position: absolute;
    z-index: 1;
    top: 175px;
    left: 20px;
}

.slideshow-button-right {
    background-color: white;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border-style: none;
    position: absolute;
    z-index: 1;
    top: 175px;
    right: 20px;
}

.slideshow-link {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 30px;
}

.slideshow-button-search {
    background-color: transparent;
    border:2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    padding: 25px;
    font-size: 16px;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    top: 115px;
    right: 95px;
}

.slideshow-button-link-r {
    background-color: transparent;
    border: 2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    font-size: 16px;
    padding: 25px;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    top: 115px;
    left: 95px;
}

.slideshow-button-link-r:hover {
    background-color: #21c2f8;
    border: 2px solid #21c2f8;
}

.slideshow-button-search:hover {
    background-color: #21c2f8;
    border: 2px solid #21c2f8;
}

.slide {
    color: white;
}

.img-over-text {
    color: white;
    position: absolute;
    z-index: 1;
    top: 195px;
    right: 29%;
    text-align: center;
}

/* ******** STF DEBUT MAIN ********* */

/* bloc contenant nos briques */
#main--div-container {
	display: block;					/* necessaire pour column-count		*/
	margin: 100px auto 50px auto; 	/* margin: 0 auto; dans l'exemple	*/
	max-width: 1170px;				/* largeur du bloc principal		*/
	column-count: 3;				/* on veux 3 colonnes				*/
    column-gap: 30px;				/* et 30px d'espace					*/
}

/* nos briques */
.main--div-briques {
	display: inline-block;
	padding: 20px;
	margin-bottom: 30px;
	width: 100%;
    box-sizing: border-box;
    color: #a1b1bc;
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: white;
}

/* et leur contenu */
.main--briques-content {
	width: 100%;
	background-color: #BEBEBE;
}

.main--you-may {
	background-color: #21C2F8;
	line-height: 1.5;
	padding: 3px 0px 5px 20px;
}

.main--you-may a {text-decoration: none; color: white;}
.main--you-may p {margin-bottom: 0px;}
.main--you-may:hover {background-color: #2C3E50;}
.you-may--link::before {content: ""; display: block; height: 1px; width: 100%; margin: 0px 0px 0px -10px; background-color: white;}
.main--you-may span {
	position: absolute;
	inset: 195px 20px 130px 310px;
}

/* conteneur du bloc de pagination */
#main--div-pagination {margin-bottom: 90px;}

/* ******** STF FIN MAIN ********* */


/* ******** FOOTER ******* */
/* ******** STF FOOTER DEBUT ******* */

/* couleurs */
.footer--color-bg1 {background-color: #222533;}
.footer--color-bg2 {background-color: #171D22;}
.footer--color-sep {background-color: #46515C;}
.footer--color-txt-secondary {color: #A1B1BC;}
.bg--bleu-clair {background-color: #21C2F8;}
.bg--bleu-fonce {background-color: #2C3E50;}

/* fontes */
.fonts-lato15 {font-family: 'Lato', sans-serif; font-size: 0.9375rem;}
.fonts-lato14 {font-family: 'Lato', sans-serif; font-size: 0.875rem;}
.fonts-lato14-bold {font-family: 'Lato', sans-serif; font-weight: 700;}
.fonts-latoBlack16 {font-family: 'Lato', sans-serif; font-weight: 900; font-size: 1rem;}
.fonts-letterSpacing300 {letter-spacing: 0.3rem;}
.fonts-30 {font-size: 1.875rem;}

/* containers  */
.container-width60-center {min-width: 60%; padding-left: 20%; padding-right: 20%;}
.container-width100 {min-width: 100%;}
.footer-bloc-content {flex: 0 270px;}

/* flex */
.flex--row {display: flex;}
.flex--col {display: flex; flex-direction: column;}
.flex--align-items-center {align-items: center;}
.flex--justify-content-flex-start {justify-content: flex-start;}
.flex--justify-content-center {justify-content: center;}
.flex--justify-content-flex-end {justify-content: flex-end;}
.flex--justify-content-space-between {justify-content: space-between;}
.flex--50prct {flex: 0 50%;}
.flex--wrap {flex-wrap: wrap;}

/* ID's */
#footer--up {flex: 0 87%; justify-content: space-between; padding-top: 97px; padding-bottom:102px;}
#footer--bottombar {flex: 0 100px; border-top: 1px #39444E;}
#footer--bottombar--social-icons span {color: #A1B1BC; margin: 7px;}
#footer--bottombar--social-icons span:hover {color: #FFFFFF;}

/* divers */
.txt--decoration-none {text-decoration: none;}
.txt--nobreak {white-space: nowrap;}
.footer--bloc-title::after {content: ""; display: block; height: 3px; width: 70px; margin-top: 7px; background-color: #1ABC9C;} /* separateur sous-titres */
footer p {color: #FFFFFF; font-family: 'Lato', sans-serif; line-height: 1.5rem;}
footer a {text-decoration: none; color: #FFFFFF;}
footer a:hover {color: #1ABC9C;}

/* ******** STF FOOTER FIN ******* */

/* ********* MEDIA-QUERIES ********* */

@media screen and (min-width: 1200px ) {

    .burger {
        display: none;
    }
}

/* ********* STF MEDIA-QUERIES FOOTER ********* */

@media screen and (max-width: 768px) {
	#footer--up {
		display: flex;
		flex-wrap: wrap;
	}

	.footer-bloc-content {flex: 0 100%;	max-width: 400px; padding-top: 50px;}

	#footer--copyright-container,
	#footer--bottombar--social-icons {
		flex: 0 100%;
		justify-content: center;
		text-align: center;
	}
}
/*@media screen and (min-width: 769px) and (max-width: 1079px) {*/
@media screen and (min-width: 769px) and (max-width: 1079px) {
	#footer--up {justify-content: center;}
	.footer-bloc-content {
		flex: 0 100%;
		max-width: 400px;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left : auto;
		padding-right: auto;
	}

	#footer--copyright-container,
	#footer--bottombar--social-icons {
		flex: 0 100%;
		justify-content: center;
		text-align: center;
	}
}

@media screen and (min-width: 1079px) and (max-width: 1759px) {
	#footer--up {display: block; column-count: 2; padding: 80px auto;}
	.footer-bloc-content {column-width: auto; column-gap: 40px; padding: 40px; max-width: 300px;}
	#footer--bottombar--copyright {text-align: center;}
	#footer--bottombar--social-icons {justify-content: center;}
}

@media screen and (min-width: 1760px) {
	#footer--up {display: flex; flex-wrap: nowrap; flex: 0 87%; justify-content: space-between; padding: 97px 20% 100px 20%;}
	.footer-bloc-content {flex: 0 235px;}
	#footer--bottombar > div {flex-wrap: nowrap;}
	/*.flex--justify-content-center {justify-content: center;	align-items: flex-start;}*/
	#footer--bottombar--copyright {text-align: left;}
	#footer--bottombar--social-icons {flex: 0 50%; justify-content: flex-end;}
}

/* ********* STF MEDIA-QUERIES FOOTER ********* */