body {

    margin: 0%;
    padding: 0%;
    font-size: 100%;
    
}

/* ******** CONTAINER ******* */

.container-wrapper {
    display: flex;
    width: 100%;
    height: auto;
}

/* ******** FOOTER ******* */

footer {

}